.faq-section {
    background: #FBFCFF;
    padding: 6.7rem 0 5.7rem;

    .faq-row {
        .side-bar-tab-nav {
            @include media-breakpoint-down(lg){
                padding: 0 3.5rem;
            }
            .owl-faq {
                align-items: flex-start;
                .owl-nav{
                    @include media-breakpoint-down(lg){
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;
                        button{
                            pointer-events: all;
                        img{
                            width: 15px;
                        }
                        &.owl-prev{
                            margin-left: -25px;
                        }
                        
                        &.owl-next{
                            margin-right: -25px;
                        }

                    }
                }
                }
                .tab-nav {
                    font-size: 17.5px;
                    @include media-breakpoint-down(lg){
                        padding-top: 5px;
                    }
                    @include media-breakpoint-only(lg){
                        font-size: 15.5px;
                        padding-left: 2.5rem;

                    }
                    line-height: 18px;
                    color: #222261;
                    position: relative;
                    width: 100%;

                    &.active {
                        font-weight: 500;

                        @include media-breakpoint-up(lg) {
                            &:before {
                                height: 100%;
                            }
                        }
                       
                       
                    }

                    @include media-breakpoint-up(lg) {
                        text-align: left;
                        &:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 0;
                            width: 4px;
                            background: #222261;
                            transition: 0.3s all ease;
                        }

                        padding-top: 8px;
                        padding-bottom: 5px;
                        padding-left: 3.7rem;
                        

                        &:not(:last-child) {
                            margin-bottom: 1.3rem;
                        }
                    }
                }
            }
        }

        .faq-content {
            @include media-breakpoint-down(lg){
                margin-top: 4rem;
            }
            .tab-content {
                background-color: #fff;
                @include media-breakpoint-up(lg){
                padding: 4.3rem 5.6rem 2.6rem;
                }
                
                @include media-breakpoint-down(lg){
                padding: 2rem;
                padding-bottom: 0;
                }
                box-shadow: 0px 3px 3px 1px rgba(216, 226, 241, 0.25);
                border-radius: 9px;

                
            }
        }
    }
}


.faq-list {
    .accordion-item {
        padding-bottom: 2rem;
        border: none;
        &:not(:last-child){ 
        border-bottom: 1px solid #F7F7F7;
        margin-bottom: 2rem;
       }
        .accordion-header {
            button {
                padding: 0;
                background-color: transparent;
                border: none;
                box-shadow: none;
                font-weight: 500;
                color: #222261;
                @include media-breakpoint-up(xl){
                font-size: 29px;
                line-height: 44px;
                }
                
                @include media-breakpoint-down(xl){
                font-size: 17px;
                }
               
                

                &:after{
                    width: 1.9rem;
                    opacity: 0.4;
height: 1.9rem;
background-size: 1.9rem;
                }
            }
        }

        .accordion-body {
            padding: 0;
            .faq-desc{
                padding-top: 9px;
            }
        }
    }
}