header {
    border-bottom: 1px solid #E2EBFF;

    @include media-breakpoint-down(md) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include media-breakpoint-up(xxl) {
        padding-left: 2.35rem;
        padding-right: 2.35rem;
    }

    @include media-breakpoint-only(lg) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @include media-breakpoint-only(xl) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include media-breakpoint-down(lg) {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    @include media-breakpoint-down(md) {
        padding-top: 23px;
        padding-bottom: 23px;
    }

    .container {
        .navbar {
            position: static;

            .navbar-brand {
                @include media-breakpoint-up(lg) {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }

                position: relative;

                // z-index: 9;
                img {
                    @include media-breakpoint-down(md) {
                        width: 200px;
                    }

                    @include media-breakpoint-only(md) {
                        width: 220px;
                    }

                    @include media-breakpoint-only(lg) {
                        width: 200px;
                    }

                    @include media-breakpoint-only(xl) {
                        width: 230px;
                    }

                    @media only screen and (min-width: 320px) and (max-width: 374px) {
                        width: 180px;
                    }
                }
            }

            .navbar-toggler {
                @include media-breakpoint-down(lg) {
                    order: 3;
                    position: relative;
                    z-index: 99;
                    border: none;

                    &:focus {
                        border: none;
                        outline: none;
                        box-shadow: none;
                    }

                    span {
                        line-height: 0;

                        i {
                            width: 18px;
                            transition: all 0.2s;
                            display: block;
                            height: 2px;
                            border-radius: 1px;
                            background-color: #222261;

                            &:first-child {
                                transform: rotate(0);
                                transform-origin: 1% 10%;
                            }

                            &:not(:last-child) {
                                margin-bottom: 4px;
                            }

                            &:not(:first-child) {
                                transform: rotate(0);
                                transform-origin: 1% 10%;
                            }

                            &:nth-child(2) {
                                opacity: 1;
                            }

                            &:last-child {
                                transform: rotate(0);
                                transform-origin: -4% 60%;
                            }
                        }
                    }

                    &.open_menu {
                        span {
                            i {
                                &:first-child {
                                    transform: rotate(45deg);
                                }

                                &:nth-child(2) {
                                    opacity: 0;
                                    transform: rotate(45deg);
                                }

                                &:last-child {
                                    transform: rotate(-45deg);
                                }
                            }
                        }
                    }
                }

            }

            .navbar-collapse {
                align-self: normal;

                @include media-breakpoint-down(lg) {
                    order: 4;
                    position: absolute;
                    top: 0;
                    background: #fff;
                    right: 0;
                    display: none;
                    width: 100%;
                    height: 100vh;
                    box-shadow: 0px 5px 54px rgba(0, 0, 0, 0.25);
                    z-index: 9;
                    overflow: auto;

                }

                .navbar-nav {
                    @include media-breakpoint-up(lg) {
                        height: 100%;
                    }



                    @include breakpoint(min-desktop-large) {
                        width: 100%;
                        padding-left: 21rem;
                    }

                    .nav-item {

                        position: static;

                        &.dropdown {
                            &.active-li {
                                .dropdown-menu {
                                    @include media-breakpoint-down(lg) {
                                        transform: translateX(0);
                                    }
                                }
                            }

                            .dropdown-menu {
                                margin: 0;
                                border-radius: 0;
                                box-shadow: 0 1px 0 0 #37285712;
                                padding: 0;
                                left: 0;
                                top: 100%;
                                background-color: #EEF3FE;
                                width: 100%;
                                border: none;
                                overflow: auto;
                                max-height: calc(100vh - 60px);

                                @include media-breakpoint-down(lg) {
                                    display: block;
                                    position: fixed;
                                    top: 0;
                                    left: 0;
                                    z-index: 999;
                                    overflow: auto;
                                    transform: translateX(100%);
                                    transition: 0.4s all ease;
                                }

                                &-block {
                                    overflow: hidden;

                                    @include media-breakpoint-down(lg) {
                                        border-top: 1px solid #f2f2f2;
                                    }

                                    .dropdown-menu__go-back {
                                        background-color: #fff;
                                        margin-bottom: 25px;

                                        &_link {
                                            display: flex;
                                            align-items: center;
                                            flex: 1;

                                            padding-top: 5px;

                                            a {
                                                font-size: 14.5px;
                                                color: #222261;
                                                display: block;
                                                font-weight: 500;
                                                width: 100%;
                                            }
                                        }

                                        &_icon {
                                            border-right: 1px solid #f2f2f2;
                                            padding-top: 18px;
                                            padding-bottom: 16px;
                                            padding-right: 1.5rem;
                                            margin-right: 1.5rem;

                                            span {
                                                transform: rotate(180deg);
                                                display: block;

                                            }
                                        }

                                        &:before {
                                            content: "";
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100vw;
                                            background-color: #fff;
                                            height: 100%;
                                            transform: translateX(-100%);
                                        }

                                        &:after {
                                            content: "";
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            width: 100vw;
                                            background-color: #fff;
                                            height: 100%;
                                            transform: translateX(100%);
                                        }
                                    }

                                    @include media-breakpoint-up(lg) {
                                        padding: 4.9rem 0 7.2rem;
                                    }

                                    &_row {
                                        
                                        &.two-col-menu {
                                            &>.row {
                                                @include media-breakpoint-up(xxl) {
                                                    --bs-gutter-x: 6rem;
                                                }
                                            }
                                            @include media-breakpoint-up(xl) {
                                                padding: 0 5.7rem;
                                            }

                                            .left-col {
                                                @include media-breakpoint-up(lg) {
                                                    width: 68.5%;
                                                }
                                            }

                                            .right-col {
                                                @include media-breakpoint-up(lg) {
                                                    width: 31.5%;
                                                }
                                            }
                                        }
                                        &.single-col-menu{
                                            &>.row {
                                                @include media-breakpoint-up(xxl) {
                                                    --bs-gutter-x: 4rem;
                                                }
                                            }
                                            .left-col {
                                                @include media-breakpoint-up(lg) {
                                                    width: 64.666667%
                                                }
                                            }

                                            .right-col {
                                                @include media-breakpoint-up(lg) {
                                                   
                                                    width: 35.333333%;
                                                }
                                            }
                                            @include media-breakpoint-up(xl) {
                                                padding-left: 5.7rem;
                                            }
                                        }

                                        &_row {
                                            @include breakpoint(min-desktop-large) {
                                                padding-right: 1rem;
                                            }

                                            &>.row {
                                                @include media-breakpoint-up(xxl) {
                                                    --bs-gutter-x: 3rem;
                                                }
                                                @include media-breakpoint-only(md){
                                                    --bs-gutter-x: 3rem;
                                                }

                                                div[class*="col-"] {
                                                    @include media-breakpoint-down(lg) {
                                                        margin-bottom: 3.5rem;
                                                    }
                                                }
                                            }

                                            &_listing_item {
                                                &:not(:last-child){
                                                    @include media-breakpoint-up(lg){
                                                    margin-bottom: 4.3rem;
                                                    }
                                                }
                                                &_block {
                                                    .menu-title {
                                                        margin-bottom: 2.8rem;

                                                        .title {
                                                            h6 {
                                                                color: #222261;
                                                            }
                                                        }

                                                        .icon {
                                                            margin-left: 1.5rem;

                                                            img {
                                                                width: 44px;
                                                                max-height: 21px;
                                                                object-fit: contain;
                                                                object-position: left;
                                                            }
                                                        }
                                                    }

                                                    .menu-listing {
                                                        &.column-two {
                                                            ul {


                                                                @include media-breakpoint-up(lg) {
                                                                    display: flex;
                                                                    flex-flow: wrap column;
                                                                    max-height: 320px;
                                                                    margin-left: -2rem;
                                                                    margin-right: -2rem;

                                                                    @include breakpoint(min-desktop-large) {
                                                                        padding-right: 1rem;
                                                                    }

                                                                    li {
                                                                        padding: 0 2rem;
                                                                        width: 240px;
                                                                    }
                                                                }
                                                            }
                                                        }

                                                        ul {
                                                            list-style: none;
                                                            padding: 0px;
                                                            margin: 0;

                                                            li {
                                                                @include media-breakpoint-down(lg) {
                                                                    border-bottom: 1px solid #e6e6e6;
                                                                    padding-bottom: 1.1rem;
                                                                }

                                                                font-size: 14.5px;
                                                                color: #222261;

                                                                &:not(:last-child) {
                                                                    margin-bottom: 1.8rem;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .sidebar-menu-listing {
                                        &_item {
                                            background: #FFFFFF;
                                            box-shadow: 0px 3px 10px 10px rgb(216 226 241 / 25%);
                                            border-radius: 9px;
                                            padding: 2.7rem 0 3rem;

                                            &--image {
                                                .image {
                                                    padding-top: 2.7rem;
                                                    position: relative;
                                                    z-index: 9;

                                                }

                                                .pattern {
                                                    top: 0;
                                                    right: -30px;
                                                }
                                            }

                                            &--content {
                                                padding: 0 3rem;
                                                margin-top: 3rem;

                                                .title {
                                                    margin-bottom: 1.8rem;

                                                    h5 {
                                                        font-size: 19px;
                                                        line-height: 26px;
                                                    }
                                                }

                                                .menu-quote {
                                                    .btn {
                                                        width: 166px;
                                                        height: 37px;
                                                        background: #02CD51;
                                                        border-radius: 5px;
                                                        color: #fff;
                                                        padding-top: 7px;
                                                        font-weight: 500;
                                                        font-size: 14.5px;
                                                    }
                                                }
                                            }
                                        }
                                    &.insurance-dropdown-sidebar{
                                        .sidebar-menu-listing_item{
                                            &:not(:last-child){
                                                margin-bottom: 2.3rem;
                                            }
                                            &.health-insurance{
                                                padding-bottom: 0;
                                                padding-top: 0;
                                                .image{
                                                    padding-top: 2rem;
                                                }
                                            }
                                            display: flex;
                                            flex-wrap: wrap;
                                            align-items: center;
                                            &--image{
                                                flex: 0 0 140px;
                                                @include media-breakpoint-only(lg){
                                                    flex: 0 0 110px;
                                                }
                                                .pattern{
                                                    top: 0;
                                                    right: -80px;
                                                    transform: translate(-80px, 11px);
                                                }
                                            }
                                            &--content{
                                                margin-top: 0;
                                                padding: 1rem;
                                                flex: 1;
                                                .title{
                                                    h5{
                                                        font-size: 16.5px;
line-height: 22px;

                                                    }
                                                }
                                            }
                                        }
                                    }
                                    }
                                    
                                }
                            }
                            & > a{
                            @include media-breakpoint-up(xxl) {
                                padding-left: 12px;
                                padding-right: 12px;
                            }

                            @include media-breakpoint-only(lg) {
                                padding-left: 7px;
                                padding-right: 7px;
                            }

                            @include media-breakpoint-only(xl) {
                                padding-left: 6px;
                                padding-right: 6px;
                            }
                        }

                            @include media-breakpoint-up(lg) {
                                display: flex;
                                align-items: center;

                                &:hover {
                                    background-color: #EEF3FE;

                                    &>a {
                                        color: #2162F6;
                                        border-bottom: 2px solid #DEE9FF;
                                        transition: none;
                                    }

                                    .dropdown-menu {
                                        display: block;
                                    }
                                }
                            }

                            .dropdown-item {
                                white-space: unset;
                                font-size: 1.3rem;
                                font-weight: 500;
                                color: #262626;
                                letter-spacing: 0.31px;

                                @include media-breakpoint-up(lg) {
                                    padding: 1rem 2rem;
                                }

                                @include media-breakpoint-down(lg) {
                                    padding: 1.2rem 4rem;

                                    img {
                                        display: block;
                                        width: 35px;
                                        margin-right: 2rem;
                                        max-height: 20px;
                                        object-fit: contain;
                                    }
                                }

                                @include breakpoint(min-desktop-large) {
                                    min-height: 45px;
                                }

                                @include breakpoint(max-desktop-large) {
                                    min-height: 38px;
                                }

                                box-shadow: inset 0 -1px 0 0 #f1f0f3;
                                display: flex;
                                align-items: center;
                                position: relative;

                                img {
                                    @include media-breakpoint-up(lg) {
                                        display: none;
                                    }

                                }

                            }
                        }

                        &:not(:last-child) {
                            // @include media-breakpoint-only(xl){
                            // margin-right: 1.5rem;
                            // }
                            // @include media-breakpoint-only(lg){
                            //     margin-right: 1rem;
                            // }
                            // @media only screen and (min-width: 1400px) and (max-width: 1599px){
                            //     margin-right: 1.8rem;
                            //     }

                            //     @media only screen and (min-width: 1600px){
                            //         margin-right: 2.8rem;
                            //         }

                        }

                        .nav-link {
                            height: 100%;
                            @include flex_conter;

                            &.dropdown-toggle {
                                @include media-breakpoint-down(lg) {
                                    text-transform: uppercase;
                                    padding-top: 18px;
                                }
                            }

                            color: #222261;
                            font-weight: 500;

                            @media only screen and (min-width: 1600px) {
                                font-size: 14.5px;
                            }

                            @media only screen and (min-width: 1400px) and (max-width: 1599px) {
                                font-size: 14.5px;
                            }

                            @include media-breakpoint-only(xl) {
                                font-size: 13.5px;
                            }

                            @include media-breakpoint-only(lg) {
                                font-size: 12px;
                            }

                            @include media-breakpoint-down(lg) {
                                padding: 11px 3rem;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border-top: 1px solid #E2EBFF;
                            }

                            @include media-breakpoint-up(lg) {
                            border-bottom: 2px solid #fff;
                                padding: 1rem 0;
                            }

                            &.dropdown-toggle {
                                &:after {
                                    content: "\e905";
                                    margin-left: 1.5px;
                                    font-family: 'icomoon' !important;
                                    border: none;
                                    font-size: 0.6rem;
                                    font-weight: 700;

                                    @include media-breakpoint-up(lg) {
                                        padding-left: 6px;
                                        color: #222261;
                                    }

                                    @include media-breakpoint-down(lg) {
                                        transform: rotate(-90deg);
                                        color: #C4C4C4;
                                        top: 1px;
                                    }

                                    position: relative;
                                    transition: 0.4s all ease;
                                }
                            }
                        }
                    }
                }
            }

            .header-right {

                // z-index: 9;
                @include media-breakpoint-down(md) {
                    padding: 0 1rem;
                    flex: 1;
                    justify-content: flex-end;
                    border-right: 1px solid #E2EBFF;
                    margin-right: 5px;
                }

                @include media-breakpoint-only(lg) {
                    padding: 0 1rem;
                }

                @include media-breakpoint-only(xl) {
                    padding: 0 2rem;
                }

                @media only screen and (min-width: 320px) and (max-width: 374px) {
                    padding: 0 0rem;
                }

                @media only screen and (min-width: 1600px) and (max-width: 1899px) {
                    padding: 0 4rem;
                }

                @media only screen and (min-width: 1400px) and (max-width: 1599px) {
                    padding: 0 3rem;
                }

                @include breakpoint(min-desktop-large) {
                    flex: 2.32;
                    padding: 0 2rem;
                }

                p {
                    color: #222261;
                    font-weight: 500;
                    line-height: 1;
                }

                &__contact {
                    @include media-breakpoint-up(xxl) {
                        margin-right: 3.9rem;
                    }

                    @include media-breakpoint-between(lg, xxl) {
                        margin-right: 2rem;
                    }

                    @include media-breakpoint-only(md) {
                        margin-right: 2rem;
                    }

                    @include media-breakpoint-down(md) {
                        justify-content: center;
                    }

                    &__item {
                        img {
                            @include media-breakpoint-only(lg) {
                                width: 85%;
                            }
                        }

                        &.whats-app {
                            @include breakpoint(min-desktop-large) {
                                padding-right: 3.7rem !important;
                            }
                        }

                        &:not(:last-child) {
                            @media only screen and (min-width: 1400px) and (max-width: 1599px) {
                                margin-right: 1.9rem;
                                padding-right: 2.1rem;
                            }

                            @media only screen and (min-width: 1600px) {
                                margin-right: 2.9rem;
                                padding-right: 3.1rem;
                            }

                            @include media-breakpoint-only(lg) {
                                margin-right: 0.8rem;
                                padding-right: 0.4rem;
                            }

                            @include media-breakpoint-only(xl) {
                                margin-right: 1.5rem;
                                padding-right: 1.5rem;
                            }

                            @include media-breakpoint-down(md) {
                                margin-right: 1rem;
                            }

                            @include media-breakpoint-only(md) {
                                margin-right: 1rem;
                                padding-right: 1rem;
                            }

                            // @include media-breakpoint-up(md){

                            //     padding-right: 1.5rem;
                            // }
                            &:after {
                                content: "";
                                position: absolute;
                                top: 0;
                                width: 1px;
                                height: 100%;
                                right: 0;
                                border: 1px solid #E2EBFF;
                                background: #FFFFFF;

                                @include media-breakpoint-down(md) {
                                    display: none;
                                }
                            }
                        }

                        display: flex;
                        align-items: center;

                        &.call-app {
                            .header-icon {
                                @media only screen and (min-width: 481px) {
                                    margin-right: 1.3rem;
                                }

                                @include media-breakpoint-only(lg) {
                                    margin-right: 1rem;
                                }

                                img {
                                    @include media-breakpoint-down(md) {
                                        width: 25px;
                                    }

                                    @media only screen and (min-width: 320px) and (max-width: 374px) {
                                        width: 21px;
                                    }

                                    @include media-breakpoint-only(xl) {
                                        width: 25px;
                                    }
                                }
                            }

                            .header-number {
                                padding-top: 5px;

                                p {
                                    @media only screen and (min-width: 320px) and (max-width: 480px) {
                                        display: none;
                                    }

                                    @media only screen and (min-width: 481px) {
                                        font-size: 13.5px;
                                    }


                                    @include media-breakpoint-only(lg) {
                                        font-size: 12.5px;
                                    }

                                    @include media-breakpoint-only(lg) {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &.whats-app {
                            .header-icon {
                                img {
                                    @include media-breakpoint-down(md) {
                                        width: 29px;
                                    }

                                    @media only screen and (min-width: 320px) and (max-width: 374px) {
                                        width: 25px;
                                    }
                                }
                            }
                        }
                    }
                }

                &__language {
                    @include media-breakpoint-only(md) {
                        margin-right: 2rem;
                    }

                    @include media-breakpoint-up(xxl) {
                        margin-right: 3rem;
                    }

                    @include media-breakpoint-between(lg, xxl) {
                        margin-right: 2rem;
                    }

                    p {
                        font-size: 1.5rem;
                        font-family: arial;
                    }
                }

                &__user {
                    p {
                        @include media-breakpoint-only(xl) {
                            font-size: 13.5px;
                        }

                        @include media-breakpoint-up(xl) {
                            font-size: 14.5px;
                        }

                        @include media-breakpoint-only(lg) {
                            font-size: 13.5px;
                        }

                        @include media-breakpoint-down(lg) {
                            font-size: 13.5px;
                        }

                        @media only screen and (min-width: 320px) and (max-width: 374px) {
                            font-size: 12px;
                        }
                    }
                }
            }

            .header-cta {

                //    z-index: 9;
                @include media-breakpoint-down(lg) {
                    display: none;

                }

                .btn {
                    text-shadow: 0.3px 0.3px 0.3px;
                    padding-top: 4px;

                    // &:hover{
                    //     background-color: #0a9e43;
                    //     color: #fff;
                    // }
                    @include media-breakpoint-up(lg) {
                        min-width: 122px;
                        height: 36px;
                        font-size: 14.5px;
                        line-height: 36px;
                    }

                    @include media-breakpoint-down(xl) {
                        min-width: 105px;
                        height: 33px;
                        font-size: 13px;
                        line-height: 31px;
                    }

                }
            }

        }
    }

    &.vechile-detail {
        .navbar {
            @include media-breakpoint-up(lg) {
                .navbar-collapse {
                    display: none !important;
                }
            }

            .header-right {
                @include media-breakpoint-up(md) {
                    flex: unset;
                }

                @include media-breakpoint-down(md) {
                    flex: 1;
                    padding-right: 1.5rem;
                }

                padding-right: 0;

                @include media-breakpoint-only(md) {
                    padding-right: 1rem;
                }
            }

            .header-right__language {
                @include media-breakpoint-down(md) {
                    padding-top: 5rem;
                }

            }

            .navbar-toggler {
                @include media-breakpoint-only(md) {
                    display: none;
                }
            }

        }
    }

    &.scroll-header {
        &.sticky-top {
            @include media-breakpoint-up(lg) {
                .navbar-collapse {
                    display: none !important;
                }

                .header-right {
                    flex: 1;
                    justify-content: center;

                    @include media-breakpoint-only(lg) {
                        margin-left: -220px;
                    }

                    @include media-breakpoint-only(xl) {
                        margin-left: -260px;
                    }

                    @include media-breakpoint-up(xxl) {
                        margin-left: -280px;
                    }

                    .header-cta {
                        @include media-breakpoint-up(lg) {
                            margin-right: 3rem;
                        }
                    }
                }
            }
        }
    }

    .header-right__user,
    .header-right__language,
    .header-cta {
        @include media-breakpoint-down(md) {
            padding: 11px 3rem;
            display: flex;
            align-items: center;
            border-top: 1px solid #cccccc80;
        }
    }

    .header-right__language {
        p {
            @include media-breakpoint-down(md) {
                color: #222261;
                font-weight: 500;
            }
        }
    }

    .header-right__user {
        a {
            @include media-breakpoint-down(md) {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #0061FF;
                padding: 5px 20px 4px;
                color: #0061FF;
                font-weight: 500;
            }
        }
    }

    .get-a-quote-dropdown{
        display: none;
        width: 755px;
        max-width: 100%;
        right: 0;
        top: 100%;
        margin-top: -8px;
        background-color: #fff;
        border-top: 2px solid #0061FF;
        box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.15);
border-radius: 5px;
        @include media-breakpoint-up(xxl) {
            margin-right: 2.35rem;
        }
    
        @include media-breakpoint-only(lg) {
            margin-right: 1.5rem;
        }
    
        @include media-breakpoint-only(xl) {
            margin-right: 2rem;
        }
        &_block{
            .get-a-quote-cta{
                padding-top: 4px;
                .btn{
                    height: 53px;
                    font-size: 18px;
                    font-weight: 700;
                    padding-top: 5px;
                }
            }
            display: flex;
            align-items: center;
            padding: 2.1rem 3.8rem 3.9rem 4.7rem;

            &_icon{
                margin-right: 4.6rem;
            }
            &_form{
                flex: 1;
                .title{
                    margin-bottom: 1.7rem;
                    h3{
                        font-weight: 500;
                        font-size: 25px;
                        color: #222261;
                    }
                }
                &_block{
                    &_row{
                        .row{
                            & > div[class*="col-"]:not(:last-child){
                                margin-bottom: 1.4rem;
                            }
                        }
                    .form-get-group{
                        
                            .form-input{
                                    width: 100%;
                                    height: 53px;
                                    border: 2px solid #60607E;
                                    border-radius: 5px;
                                    padding: 1.6rem 1.9rem;
                                    font-weight: 500;font-size: 15.5px;

                                    &::placeholder{
                                        color: #5B606B;
                                        position: relative;
                                        top: 2px
                                    }
                                
                            }
                        
                        &-phone{
                            position: relative;
                            .select2-container{
                                left: 0 !important;
                                .select2-dropdown{
                                    width: 100% !important;
                                }
                                .select2-selection{
                                    border: none;
                                    height: 49px;
                                    .select2-selection__rendered{
                                        padding-left: 1.9rem;
                                        line-height: 55px;
                                        font-size: 15.5px;
                                        font-weight: 500;
                                        color: #5B606B;
                                        padding-right: 2rem;
                                    }
                                    .select2-selection__arrow{
                                        width: 10px;
                                        height: 7px;
                                        right: 0;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        b{
                                            background-image: url(../images/icons/select-arrow.png);
                                            border: none;
                                            background-repeat: no-repeat;
                                            width: 10px;
                                            height: 7px;
                                            margin: 0;
                                            left: 0;
                                            top: 0;
                                            
                                        }
                                    }
                                }
                            }
                            .phone-num{
                               
                                border: 2px solid #60607E;
                                display: flex;
                                border-radius: 5px;
                                .phone-input{
                                    padding-left: 1rem;
                                    margin-left: 1rem;
                                    position: relative;
                                    &:after{
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        left: 0;
                                        height: 26px;
                                        width: 1px;
                                        background-color: #DFDFDF;
                                        opacity: 0.5;
                                    }
                                    input{
                                    border: none;
                                    padding: 1.6rem 0.5rem;
                                    height: 49px;
                                    }
                                }
                            }
                        }
                        }

                        .form-selects{
                            .select2-selection{
                                height: 53px;
                                border: none;
                                border-radius: 5px;
                                border: 2px solid #60607E;
                                .select2-selection__rendered{
                                    line-height: 53px;
                                    padding-left: 2.6rem;
                                    padding-right: 2.6rem;
                                    color: #5B606B;
                                    font-weight: 500;
                                    font-size: 15.5px;
                                }
                                .select2-selection__arrow{
                                    width: 10px;
                                    height: 7px;
                                    right: 2.4rem;
                                    top: 50%;
                                    transform: translateY(-70%);
                                    b{
                                        background-image: url(../images/icons/select-arrow.png);
                                        border: none;
                                        background-repeat: no-repeat;
                                        width: 10px;
                                        height: 7px;
                                        margin: 0;
                                        left: 0;
                                        top: 0;
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}