// Fonts
$primary-font: 'objective';

// Color
$base-color: #e23434;
$text-color: #2d2d2d;

// Container and Grid Spacing
$container-width: 1170px;
$grid-space: 15px;

// path
$images-path: "../images" !default;
$font-path: "../fonts";
// icomoon


